$gray: #eeeeee;
$dark-gray: #d4d4d4;
$light-gray: #F5F5F5;
$blue-gray: #80808b;
$links-collor: #799fc0;
$buttonDefault: #333333; //TODO: mudar o nome
$borderButtonDefault: #4a4a4a; //TODO: mudar o nome
$black: #000000;
$gray-overlay: transparentize($black, 0.12);
$main-font: "Montserrat", sans-serif;